<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Videos</title>

<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- ICONS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="w-100 order-1 order-md-0">
		</div>
		<div class="mx-auto order-0">
			<a class="navbar-brand mx-auto" href="#">Argus Web</a>
		</div>
		<div class="w-100 order-3">
			<form action="/cliente/videos/" method="get">
				<div class="w-50 input-group float-right">
					<input type="text" class="form-control" name="tag"/>
					<div class="input-group-append">
						<button class="btn btn-outline-light" type="submit">Pesquisar</button>
					</div>
				</div>
			</form>
		</div>
	</nav>
	
	<div class="container-fluid py-3 bg-light">
		<div class="row">
			<div class="container col-sm-4">
				<iframe width="560" height="315" th:src="${stapple.url}" style="boder: 0;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="container col-sm-auto pl-5">
				<h5 class="font-weight-bold"><span th:text="${stapple.titulo}"></span></h5>
				<p><span th:text="${stapple.canal}"></span></p>
			</div>
		</div>
	</div>
	<div class="container-fluid py-3 bg-light">
		<h3>Alguns outros videos...</h3>
		<p>Nossa biblioteca não é muito grande, mas fazemos o possível para sempre expandi-la.</p>
		<div class="row">
			<div class="container">
				<div class="card my-3 px-3 shadow-sm" th:each="video : ${videos}">
					<div class="row">
						<div class="container col-sm-auto">
							<iframe th:src="${video.url}" style="boder: 0;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="container col-sm-auto">
							<h5><span th:text="${video.titulo}"></span></h5>
							<p><span th:text="${video.canal}"></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>